html{
  background-color: #233563;
  border: 5px solid orange;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.App {
  text-align: center;
  background-color: #233563;
  height: 100%;
  text-align: center;
  
  
}
.city{
  color: white;
  
}
#loading{
  color: white;
}
h1{
  color: orange;
}
.tempSection{
  color: white;
  border-top: 3px solid orange;
  
  
}
.tempData{
  display: flex;
  justify-content: space-around;
  color: white;
}

